

/* reset css defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  font: 15px arial, sans-serif;
}

/* set font */
html,
input,
textarea {
  font-family: 'Helvetica', sans-serif;
  font-size: 90%;
  -webkit-font-smoothing: antialiased;
}

/* fill page */
html {
  height: 100vh;
}

body {
  background-color: rgba(0, 92, 8, 0.164)
}

/* fill page */
.fullpage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.hidden {
    display: none;
}

.ast {
  min-height: 1em;
  min-width: 1em;
  padding-left: 1em;
  border: 1px solid #aaa;
}

.functiondecl {
  background-color: #ccc;
}

#handle {width: 100%; height: 300px; padding: 0.5em; float: left; margin: 0 10px 10px 0; border-style: solid}
#handle p { cursor: move; }

.CodeMirror { height: 100%; }


/* #tree p { cursor: move; }
#terminal p { cursor: move; } */
/* codemirror highlighting */
.cm-highlight {color: lightgreen; background-color: green}
.cm-highlight-lastLine {color: rgb(144, 182, 238); background-color: rgb(0, 102, 128)}
.CodeMirror-selection-highlight-scrollbar {background-color: green}

